# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Локальная конфигурация / секреты
.env
*.log

# Скомпилированные бинарники / артефакты Go
bin/
/effective-mobile
/subscriptions-api
*.exe
*.out
*.test

# Go workspace
go.work
go.work.sum
